<h2 class="title has-text-success">Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field mb-5">
    <%= f.label :email, class: "label" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
  </div>

  <div class="field mb-5">
    <%= f.label :name, class: "label" %>
    <%= f.text_field :name, autofocus: true, class: "input" %>
  </div>

  <div class="columns">
    <div class="column is-narrow">
      <% avatar = @user.avatar %>
      <% if avatar.attached?%>
        <span class="image is-64x64"><%= image_tag(avatar) %></span>
      <% else %>
        <span class="image is-64x64"><%= image_tag('/profile_placeholer.png') %></span>
      <% end %>
    </div>
    <div class="column">
    <label class="label">Profile Picture</label>
    <label>
      Upload Image
      <%= f.file_field :avatar%>
    </label>
    </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field mb-5 mt-2">
    <%= f.label :password, class: "label" %> <i>(leave blank if you don't want to change it)</i>
    <%= f.password_field :password, autocomplete: "new-password", class: "input" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="container mb-5">
    <div class="field">
      <%= f.label :password_confirmation, class: "label" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input" %>
    </div>

    <div class="field">
      <%= f.label :current_password, class: "label" %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password", class: "input" %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Update", class: "button is-success has-text-weight-bold" %>
  </div>
<% end %>

<p><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "button is-danger has-text-weight-bold mb-5 mt-5" %></p>

<%= link_to "Back", :back %>