<h2 class="title">Sign up</h2>

<section class="mt-5 pt-5">
  <div class="columns">
    <div class="column is-one-third">

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :email, class: "label" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
        </div>

        <div class="field">
          <%= f.label :name, class: "label" %>
          <%= f.text_field :name, class: "input" %>
        </div>

        <label class="label mt-5">Profile Picture</label>
        <label>
          Upload Image
          <%= f.file_field :avatar%>
        </label>  

        <div class="field mt-5">
          <%= f.label :password, class: "label" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password", class: "input" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, class: "label" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input" %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up", class: "button is-success has-text-weight-bold" %>
        </div>
      <% end %>

    </div>
  </div> 
</section>
<%= render "devise/shared/links" %>
