<h2 class="subtitle has-text-weight-semibold has-text-success">New comment</h2>

<%= render "form", comment: @comment %>

<br>

<div>
  <%= link_to "Back to the post", post_url(@comment.post) %>
</div>
