<h2 class="subtitle">Forgot your password?</h2>

<section class="mt-5 pt-5">
  <div class="columns">
    <div class="column is-one-third">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="field">
          <%= f.label :email, class: "label" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
        </div>
        <div class="actions">
          <%= f.submit "Send me reset password instructions", class: "button is-success has-text-weight-bold" %>
        </div>
      <% end %>
    </div>
  </div> 
</section>
<%= render "devise/shared/links" %>
