        <p style="color: green"><%= notice %></p>

<h2 class="title">Log in</h2>

<section class="mt-5 pt-5">

  <div class="columns">
    <div class="column is-one-third">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <% resource.errors.full_messages.each do |msg| %>
        <%= msg %>
      <% end %> 
        <div class="field">
          <%= f.label :email, class: "label" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
        </div>

        <div class="field">
          <%= f.label :password, class: "label" %>
          <%= f.password_field :password, autocomplete: "current-password", class: "input" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me, class: "checkbox" %>
            <%= f.label :remember_me, class: "label" %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Log in", class: "button is-success has-text-weight-bold" %>
        </div>
      <% end %>
    </div>
  </div> 
</section>

<%= render "devise/shared/links" %>
