<div id="<%= dom_id post %>">
  <div class="container mb-2"><h2 class="title">
    <%= post.title %></h2>
  </div>
  <article class="media">
    <figure class="media-left">
      <p class="image is-64x64">
          <% avatar = User.find(post.author_id).avatar %>
          <% if avatar.attached? %>
            <%= image_tag avatar %>
          <% else %>
            <%= image_tag('/profile_placeholer.png') %> 
          <% end %>
      </p>
    </figure>
      <div class="content mb-3">
        <span class="is-size-5 has-text-weight-semibold"><p>Written by: <span class="has-text-weight-semibold has-text-success"><%= User.find(post.author_id).name %></span></p></span>
        <p class="is-size-7"><span id='post-time-<%= post.id %>'></span></p>
        <script>
            var postTime = new Date('<%= post.created_at.iso8601%>');
            var timestampItem = document.querySelector("#post-time-<%= post.id %>");
            timestampItem.innerHTML = postTime.toLocaleString('en-US');
        </script>
        <div class="container mb-5 mt-5">
          <%= post.content %>
        </div>
      </div>
  </article>
</div>