<h1 class="title has-text-success">Edit post</h1>

<div class="container">
<%= render "form", post: @post %>

  <div>
    <%= link_to "Show this post", @post %> |
    <%= link_to "Back to posts", posts_path %>
  </div>
</div>