<p style="color: green"><%= notice %></p>

<div class=container>
  <% @posts.each do |post| %>
    <%= render post %>
 
      <%= link_to "Show this post", post, class: "button is-success mt-1" %>
<hr>
  <% end %>
</div>
<% if current_user != nil %>
  <% if current_user.email == "fjohnette@pm.me" %>
    <%= link_to "New post", new_post_path, class: "button is-primary mt-1" %>
  <% end %>
<% end %>