<p style="color: green"><%= notice %></p>
<div class="post mb-0">
  <%= render @post %>
</div>
<% if current_user != nil %>
  <% if current_user.email == "fjohnette@pm.me" %>
    <%= button_to "Delete", @post, method: :delete, class: "button is-small is-danger is-inverted mt-1" %>
    <%= link_to " Edit post", edit_post_path(@post), class: "button is-small is-success is-inverted mt-1" %>
  <% end %>
<% end %>  
<div class="comments container pt-0">
  <hr>
  <% if current_user %>
  <div class="comment create">
    <h2 class="subtitle has-text-weight-semibold has-text-success">Leave a comment</h2>
  
    <%= render "comments/form", comment: @post.comments.new, the_url: post_comments_path(@post) %>
  </div>
  <% else %>
  <h2 class="subtitle has-text-weight-semibold has-text-success"><a href="/users/sign_in" class="has-text-success">Log in</a> to leave a comment</h2>
  <% end %>
  <div class="comment-list container mt-5">
    <h2 class="subtitle has-text-weight-bold"><%= pluralize(@post.comments.count, "Comment") %> </h2>
    <% @post.comments.where("id > 0").each do |comment| %>

    <article class="media">
      <figure class="media-left">
        <p class="image is-64x64">
          <% avatar = User.find(comment.author_id).avatar %>
          <% if avatar.attached? %>
            <%= image_tag avatar %>
          <% else %>
            <%= image_tag('/profile_placeholer.png') %> 
          <% end %>
          <% if current_user != nil %>
            <% if current_user.id == comment.author_id %>
              <%= button_to "Delete", post_comment_path(@post, comment), method: :delete, class: "button is-small is-danger is-inverted mt-1" %>
              <%= link_to "Edit", edit_post_comment_path(@post, comment), class: "button is-small is-success is-inverted mt-1" %>
            <% end %>
          <% end %>
        </p>
      </figure>
      <div class="content mb-2">
        <span class="is-size-5 has-text-weight-semibold"><p class="has-text-weight-semibold has-text-success"><%= User.find(comment.author_id).name %></p></span>
        <p class="is-size-7"><span id='comment-time-<%= comment.id %>'></span></p>
        <script>
            var commentTime = new Date('<%= comment.created_at.iso8601%>');
            var timestampItem = document.querySelector("#comment-time-<%= comment.id %>");
            timestampItem.innerHTML = commentTime.toLocaleString('en-US');
        </script>
        <div class="container mt-2">
          <%= comment.content %>
        </div>

      </div>
    </article>
  <% end %>
  </div>
</div>