<h1 class="title has-text-success">About</h1>

<div class="container mb-5">
    <% if current_user %>
    <p>What's up, <%= current_user.name %>?</p><br>
    <% end %>
    <p>
    This blog was created for reasons. The main reason was to learn how to make web apps in Rails.<br>
    ... ok, that is basically the only reason. 
    </p>
</div>