<div>
    <%= image_tag('https://thefrankblog.herokuapp.com/blog_logo_dark.png', width: "270") %>
</div>

<div style="font-family: Arial, Helvetica, sans-serif;">

<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below if you are who you say your are:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

</div>