<div>
    <%= image_tag('https://thefrankblog.herokuapp.com/blog_logo_dark.png', width: "270") %>
</div>

<div style="font-family: Arial, Helvetica, sans-serif;">

    <h3 >Hello, <%= @resource.name %>!</h3><br>

    <p>Someone has requested a link to change your password. You can do this through the link below:</p>
    <hr>
    <p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>
    <hr>
    <p>If you didn't request this, please ignore this email.</p>
    <p>Your password won't change until you access the link above and create a new one.</p>

    <p>If it was you, how about you try not go around losing passwords, huh?</p><br>
    
    <p>Warmest regards,</p>
    <p>This automated message</p>
</div>