<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>THE BLOG</title>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    
    <!-- Navbar -->
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <%=image_tag('/blog_logo_light.png')%>
        </a>
      </div>

      <div class="navbar-menu is-active">
        <div class="navbar-start">
          <a class="navbar-item" href="/">
            Home
          </a>

          <a class="navbar-item" href="/about">
            About
          </a>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <% if !current_user %>
              <a class="button is-success text-dark" href="/users/sign_up">
                <strong>Sign up</strong>
              </a>
              <a class="button is-success is-outlined" href="/users/sign_in">
                <strong>Log in</strong>
              </a>
              <% else %>
                <span class="mr-3"><a href="/users/edit" class="has-text-success has-text-weight-semibold">Hi, <%= current_user.name %></a></span>
                <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "button is-danger has-text-weight-bold" %>
              <% end %>
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!-- End of navbar -->

    <!-- Header -->
    <section class="hero is-small is-dark">
      <div class="hero-body">
        <div class="level-item has-text-centered">
          <%= image_tag('/blog_logo_light.png', width: "350") %>
        </div>
        <div class="level-item has-text-centered">
            <p class="subtitle">
            My first Rails Project
            </p>
        </div>
      </div>
    </section>
    <!-- End of Header -->

    <!-- Site Conent -->
    <div class="site-content section">
      <div class="container is-max-desktop pt-6">
        <%= yield %>
      </div>
    </div>
    <!-- End of Site Content -->

    <!-- Footer -->
    <footer class="footer mt-5">
      <div class="content has-text-centered has-text-white">
        <p>
          <strong class="has-text-white" >The Blog</strong> created by <a href="http://frankjohnette.xyz" class="has-text-success">Frank J</a>.
        </p>
      </div>
    </footer>
    <!-- End of Footer -->
  </body>
</html>